.calculatorButton {
  /* padding: 8px 16px; */
  /* padding: 8px 16px; */
  /* font-weight: 500; */
  transition: 200ms;
  cursor: pointer;
  height: 5vh;
  width: 80px;
  background-color: #17191a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color);
    transition: 200ms
  }
}