@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.mobileMenu {
  height: 20vh;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #6ca680;
  margin-bottom: 1rem;
  background-color: #6b8956;
  color: #041c06;
  box-shadow: var(--inset-morph-light), var(--inset-morph-dark);
  font-family: "VT323", monospace;
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  transition: all 0.2s ease;

  .statusIcons {
    display: grid;
    align-content: space-around;
  }

  .menuSection {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    height: 3rem;
    justify-items: stretch;
    align-content: center;
    align-items: center;
  }

  .status {
    height: 20px;
    width: 40px;
    background-color: #041c06;
    font-size: 12px;
    color: #6b8956;
  }

  .list {
    font-size: 2rem;
    padding: 0 .5rem;
    cursor: pointer;
  }


  .openClose {
    font-size: 3rem;
  }

  .menuGrid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .subMenu {
    margin-top: .5rem;
  }

  .subList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    overflow-x: auto;
  }

  .subListItem {
    color: #041c06;
    padding: .25rem .5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
  }
}