@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);







:root {
  /* Dark Theme Colors */
  --bg-color: #292929;
  /* A deep, dark blue-grey */
  --shadow-light: #8d8d8d;
  /* Lighter highlight for dark mode */
  --shadow-dark: #0c0c0c;
  /* Deeper, almost black shadow */
  --text-color: #dce6f1;
  /* Light text for readability */
  --accent-color: #6ca680;
  /* Bright cyan pops well on dark */

  --neumorph-shadow-light: rgba(255, 255, 255, 0.2);
  --neumorph-shadow-dark: rgba(0, 0, 0, 0.546);
  --inset-morph-light: inset -4px -4px 10px 1px var(--neumorph-shadow-light);
  --inset-morph-dark: inset 4px 4px 10px 1px var(--neumorph-shadow-dark);
  --outset-morph-light: -2px -2px 10px 1px var(--neumorph-shadow-light);
  --outset-morph-dark: 2px 2px 10px 1px var(--neumorph-shadow-dark);
}


/* :root[data-theme="dark"] {
  --backgroundMain: var(--black);
  --textMain: var(--white)
}

:root[data-theme="light"] {
  --backgroundMain: var(--white);
  --textMain: var(--black)
} */

@layer base {

  html,
  body,
  #root,
  .app {
    height: 100vh;
    overflow: hidden;
  }

  html,
  body {
    /* === 3. Main Styles (These don't need to change!) === */

    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.3s ease;
    /* Smooth theme switch */

    /* @apply bg-gray-900 text-gray-200; */
    font-family: monospace;
    /* background: #d11784; */
    /* background: linear-gradient(21deg,rgba(209, 23, 132, 1) 0%, rgba(1, 1, 18, 1) 54%, rgba(191, 0, 255, 1) 100%); */
    /* background: #4d1b39; */
    /* background: linear-gradient(21deg,rgba(77, 27, 57, 1) 0%, rgba(1, 1, 18, 1) 25%, rgba(33, 6, 43, 1) 79%, rgba(78, 20, 102, 1) 100%); */
  }
}